{% extends "admin/base_site.html" %}
{% block content %}
<h1>Справка за оборот</h1>

<h2>Оборот за периода: {{ total_turnover }} лв.</h2>

<h3>Детайли за поръчки:</h3>
<ul>
    {% for order in delivered_orders %}
        <li>
            Поръчка #{{ order.id }} - 
            Обща цена: {{ order.total_price }} лв., 
            Дата: {{ order.created_at }}
        </li>
    {% empty %}
        <li>Няма доставени поръчки за този период.</li>
    {% endfor %}
</ul>

<a href="{% url 'admin:index' %}">Обратно към админ панела</a>
{% endblock %}